body {
  background-color: #c38d9e;
}

.App {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  min-height: 650px;
  min-width: 320px;
}

.titleText {
  margin-top: 4%;
  margin-left: 8%;
  color: #ffffff;
}

.center {
  background-color: #e0c2ca;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.score {
  font-weight: bold;
  color: rgb(6, 6, 138);
  font-size: 120%;
}

.computerTurn {
  background: rgb(95, 95, 95);
}

.resetButton {
  width: 15%;
}

.resetButtonIcon {
  color: #ffffff;
}

.computerPlayingTextHide {
  color: #e0c2ca00;
  font-weight: bold;
  font-size: 120%;
}

.computerPlayingTextShow {
  color: rgb(6, 6, 138);
  font-weight: bold;
  font-size: 120%;
}

/* ////////////// */
/*   MAIN TABLE   */

.gridRoot {
  padding-top: 4%;
  flex: 1;
  display: flex;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  align-self: center;
  /* justify-self: center; */
  text-align: center;
  flex-direction: column;
  /* justify-content: space-between; */
}

.gridList {
  overflow-y: initial;
  width: 300px;
}

.gridListTile {
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20%;
  align-items: center;
  justify-content: center;
}

.bingoGridListTileGained {
  border: solid 0.5px #e0c2ca;
  border-radius: 20%;
}

.btn {
  height: 100%;
  width: 100%;
  background-color: #41b3a3;
  border-radius: 20%;
  align-self: center;
  padding-top: 18%;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;

  opacity: 1;
  transition: opacity 300ms ease;
}

.touched {
  opacity: 0.9;
  background-color: #85dcba;
  border-radius: 20%;
}

.bingoLetter {
  border-radius: 20%;
  height: 100%;
  width: 100%;
  /* background-color: rgb(255, 128, 128); */
  align-self: center;
  padding-top: 18%;
  background: #ffbf94;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;

  opacity: 1;
  transition: opacity 300ms ease;
}

.bingoLetterGained {
  border-radius: 20%;
  background: #ff7d59;
}

/* ////////// */
/*   MODAL   */

.modal {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 590px;
  min-height: 580px;
  /* border: 2px solid red; */
}

.modalResultDiv {
  /* background-color: cyan; */
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.resultsMessage {
  font-weight: bold;
  font-size: 300%;
  -webkit-text-stroke: 1px rgba(131, 131, 131, 0.411);
}

.modalTablesDiv {
  background-color: #7ec3b0;
  flex: 7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 420px;
}

.modalTablePlayerId {
  font-weight: bold;
  font-size: 130%;
  color: #ffffff;
}

.modalTableEach {
  /* background-color: darkblue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modalPlayAgainDiv {
  /* background-color: darkgoldenrod; */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-modal-gridList {
  flex: 2;
  width: 270px;
}

.in-modal-gridListTile {
  border: solid 2px #7ec3b0;
}
.in-modal-bingoGridListTileGained {
  border: none;
}

.in-modal-btn {
  height: 100%;
  width: 100%;
  background-color: #41b3a3;
  align-self: center;
  padding-top: 18%;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  opacity: 1;
  transition: opacity 300ms ease;
  border-radius: 20%;
}

.in-modal-touched {
  opacity: 0.9;
  background-color: #85dcba;
  border-radius: 20%;
}

.in-modal-bingoLetter {
  height: 100%;
  width: 100%;
  /* background-color: rgb(255, 128, 128); */
  align-self: center;
  padding-top: 18%;
  background: #ffbf94;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  opacity: 1;
  transition: opacity 300ms ease;
  border-radius: 20%;
}

.in-modal-bingoLetterGained {
  background: #ff7d59;
  border: solid 0.1px #7ec3b0;
  border-radius: 20%;
}

@media (max-width: 600px) {
  .center {
    width: 100%;
  }
}
